@use "../responsive" as r;
@use "../constants" as co;
.itemPage {
  display: grid;
  justify-content: center;
  .itemsList {
    margin: 0;
    padding: 0;

    background-color: white;
    list-style: none;

    @include r.desktop {
      padding: 0 1rem;
      width: co.$desktop-page-min-width;
      border-radius: co.$meli-md-radius;
    }
  }

  .loading {
    background-color: white;
    padding: 1rem;
    width: co.$desktop-page-min-width;
    border-radius: co.$meli-md-radius;
    text-align: center;
  }
}
