@use "../colors" as c;
@use "../responsive" as r;
@use "../constants" as co;

.itemPage {
  p,
  h1,
  h2 {
    margin: 0;
  }
  article {
    display: grid;
    padding: 2rem;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: white;
    border-radius: co.$meli-sm-radius;
    .image {
      position: relative;
      min-height: 300px;
      img {
        object-fit: contain;
        border-radius: 4px;
      }

      @include r.desktop {
        grid-column: 1 / span 2;
      }
    }
    .itemInfo {
      display: grid;
      gap: 1rem;
      h1 {
        font-size: 1.5rem;
        font-weight: bold;
      }
      h2 {
        font-size: 2rem;
      }

      .actions {
        button {
          width: 100%;
          min-height: 60px;
          font-size: 1.5rem;
          border-radius: co.$meli-md-radius;
          border: none;
          background: c.$button-primary;
          color: white;
        }
      }
    }

    .details {
      h3 {
        font-size: 1.5rem;
      }
      pre {
        white-space: pre-wrap;
      }

      @include r.desktop {
        grid-column: 1 / span 3;
      }
    }

    @include r.desktop {
      grid-template-columns: repeat(3, 1fr);
      width: co.$desktop-page-min-width;
      // max-width: co.$desktop-page-max-width;
    }
  }

  .notFound {
    background-color: white;
    display: block;
    text-align: center;
    max-width: co.$desktop-page-min-width;
    margin: 0 auto;
    padding: 2rem;
    border-radius: co.$meli-md-radius;
  }
}
