@use "../responsive" as r;
@use "../constants" as co;
.itemPage {
  display: grid;
  justify-content: center;
  .itemsList {
    margin: 0;
    padding: 0;

    background-color: white;
    list-style: none;

    @include r.desktop {
      padding: 0 1rem;
      min-width: co.$desktop-page-min-width;
      max-width: co.$desktop-page-max-width;
      border-radius: co.$meli-md-radius;
    }
  }
}
