/* Enable hover only on non-touch devices */
@use "../constants" as co;
@use "../responsive" as r;
.homePage {
  .content {
    padding: 1rem;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    box-shadow: co.$meli-shadow;
    border-radius: co.$meli-sm-radius;

    @include r.desktop {
      min-width: co.$desktop-page-min-width;
      max-width: co.$desktop-page-max-width;
    }
  }
}
