@use "../colors" as *;
@use "../constants" as *;
@use "../responsive" as r;
.wrapper {
  width: 100%;
  background-color: $primary-color;
  min-height: 56px;
  display: grid;
  justify-items: center;
  box-shadow: $meli-shadow;

  @include r.desktop {
    margin-bottom: 1rem;
  }

  .navContainer {
    min-width: 300px;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5rem;

    @include r.desktop {
      margin-bottom: 1rem;
      min-width: 600px;
    }
  }
}
