@use "../colors" as c;
@use "../constants" as *;
.item {
  height: 216px;
  padding: 1rem 0;
  border-bottom: 1px solid c.$grey-light;
  display: flex;
  justify-content: space-around;
  .wrapper {
    flex: 1;
    display: flex;
    .imageContainer {
      display: table-cell;
      position: relative;
      vertical-align: top;
    }
    .image {
      margin: 0 0.5rem;
      display: flex;

      position: relative;
      flex-grow: 0;
      flex-shrink: 0;

      figure {
        max-height: 100%;
        margin: 0 12px;
        width: 144px; //from meli
        height: 192px; //from meli
        min-height: 144px;
        border-radius: $meli-md-radius;
        display: flex;
        margin: 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        vertical-align: top;

        .overlay {
          background: rgba(0, 0, 0, 0.04);
          height: 100%;
          position: absolute;
          width: 100%;
          z-index: 1;
        }
        img {
          object-fit: contain;
          border-radius: $meli-md-radius;
        }
      }
    }
    .description {
      .price {
        h2 {
          margin: 0;
        }
        h3 {
          font-size: 1.2rem;
          margin-bottom: 0px;
          position: relative;
          span {
            position: absolute;
            bottom: 2px;
          }
        }
        p {
          margin: 0;
        }
        span {
          margin-left: 1rem;
        }
      }
    }
  }
}
