.item {
  height: 180px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-around;
  .image {
    width: 100px;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    img {
      object-fit: contain;
    }
  }
  .price {
    h2 {
      margin: 0;
    }
    h3 {
      font-size: 1.3rem;
      margin-bottom: 0px;
    }
    p {
      margin: 0;
    }
    span {
      margin-left: 1rem;
    }
  }
}
