@use "styles/colors" as *;
:root {
  --font-mono: "Proxima Nova", Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "proxima Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  min-width: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  margin: 0;
  min-height: 100dvh;
  background-color: $grey-light;
}
/*Desktop */
@media (min-width: 1120px) and (max-width: 1920px) {
}
