// @use "./colors";

.itemList {
  ul {
    margin: 1rem 0;
    background-color: white;
    padding: 1rem;
    list-style: none;
  }
  article {
    height: 180px;
    border-bottom: 1px solid gray;
    display: flex;
    .price {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        margin: 0;
      }
      span {
        margin-left: 1rem;
      }
    }
    img {
      object-fit: contain;
    }
  }
}
